@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* footer */
footer {
  background-color: #F37748;
  color: #fff;
  min-height: 120px;
  margin: 0;
}
#footer-details {
  padding: 20px;
}