@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");


body {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* nav 
nav a:hover {
  background-color: #F37748;
  color: #4B4453;
}

a:nav-link {
  background-color: #F37748;
  color: #4B4453;
*/

nav ul li a {
  position:relative;
  z-index: 1;
}
nav-link ul li a:hover {
  color: #F37748
}
nav-link ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F37748
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

title {
  margin-top: 50px;
}


#intro-image {
  background: linear-gradient(to bottom, rgba(34, 143, 255, 0.4) 0%, rgba(79, 70, 87, 0.3) 100%), url(../images/background.jpg) no-repeat center 75%;
  background-size: cover;
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
#intro-image h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px #F37748;
}

#intro-image p {
  color: #fff;
}

p {
  color: #4B4453;
}

/* image card styling */
.card-class img:hover {
  opacity: 0.3;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color:  rgba(74, 158, 237);
    color: #fafafa;
}

/* footer */
footer {
  background-color: #F37748;
  color: #fff;
  min-height: 120px;
  margin: 0;
}
#footer-details {
  padding: 20px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.footer-details {
  color: white;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 20px;
  line-height: 7px;
  color: #fafafa;
  background: transparent;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: rgba(74, 158, 237);
}